@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  @apply bg-green-600;
}
.swiper-pagination {
  @apply !bottom-0;
}
.swiper-button-next {
  @apply text-sm;
}
